<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dungeon Master</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles.css" type="text/css" />
		<link rel="icon" href="./images/favicon.png" />
		<script src="./scripts/dungeon-master.js"></script>
		<script src="./scripts/mesher-worker.js"></script> <!-- Not technically needed *but* it allows Ctrl + F5 to update -->
	</head>
	<body>
		<div id="overlays"></div>
		<canvas id="fury" oncontextmenu="return false;"></canvas>
	</body>
</html>
